<app-menu-left-container class="ex-hide-on-mobile">
  <ng-container>
    <ul>
      <li>
        <a
          [routerLink]="[ERouters.ADMIN, ERouters.DASHBOARD]"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
          title="Estrutura"
        >
          <span [innerHTML]="icons.iconCoursesHome"></span>
          <p>Estrutura</p>
        </a>
      </li>
      <li>
        <a
          [routerLink]="[ERouters.ADMIN, ERouters.CLIENTES]"
          [routerLinkActive]="'active'"
          title="Clientes"
        >
          <span [innerHTML]="icons.iconCoursesHome"></span>
          <p>Clientes</p>
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a (click)="onLogout()" title="Sair">
          <span [innerHTML]="icons.iconLogoutMenu"></span>
          <p>Sair</p>
        </a>
      </li>
    </ul>
  </ng-container>
</app-menu-left-container>

<app-menu-bottom-container
  class="ex-show-on-mobile"
  [homeRouterLink]="[ERouters.ADMIN, ERouters.DASHBOARD]"
>
  <ng-container>
    <ul>
      <li>
        <a
          [routerLink]="[ERouters.ADMIN, ERouters.DASHBOARD]"
          [routerLinkActive]="'active'"
          title="Estrutura"
        >
          <span [innerHTML]="icons.iconCoursesHome"></span>
          <p>Estrutura</p>
        </a>
      </li>
      <li>
        <a
          [routerLink]="[ERouters.ADMIN, ERouters.CLIENTES]"
          [routerLinkActive]="'active'"
          title="Clientes"
        >
          <span [innerHTML]="icons.iconCoursesHome"></span>
          <p>Clientes</p>
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a (click)="onLogout()" title="Sair">
          <span [innerHTML]="icons.iconLogoutMenu"></span>
          <p>Sair</p>
        </a>
      </li>
    </ul>
  </ng-container>
</app-menu-bottom-container>
