@use "@tools/rem-calc" as fn;

:root {
  .vf-btn {
    font-size: fn.rem-calc(16);
    border: none;
    border-radius: fn.rem-calc(14);
    padding: fn.rem-calc(7) fn.rem-calc(14);
    font-weight: 700;
    min-width: fn.rem-calc(108);
    text-decoration: none;
    cursor: pointer;

    &.vf-btn__danger-line {
      color: var(--danger);
      background-color: transparent;

      border: fn.rem-calc(1) solid var(--danger);
    }

    &.vf-btn__danger {
      color: var(--white);
      background-color: var(--danger);
    }

    &.vf-btn__green {
      background-color: var(--green);
      color: var(--black);
    }

    &.vf-btn__green-line {
      color: var(--green);
      background-color: transparent;

      border: fn.rem-calc(1) solid var(--green);
    }
  }
}
