.clientes-form {
  &__actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  &__historico-vazio {
    background-color: var(--secondary);
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
  }
}
