:root {
  --project-short-name: "ex";

  --primary: #5a1226;
  --primary-010: #380c18;

  --secondary: #fdb10f;

  --white: #ffffff;

  --black: #0a0d1c;
  --black-05: #101a2b;
  --black-010: #1b2338;
  --black-020: #0a0d1c47;

  --red: #ff4747;
  --green: #28e981;
  --purple: #6675ff;
  --yellow: #ead800;

  --danger: #ea225d;

  --gray: #cecece;
  --gray-010: #f3f3f3;
  --gray-020: #eaeaea;
  --gray-021: #d9d9d9;
  --gray-030: #818181;
}
